.main-container {
  padding-left: 250px;
  padding-right: 250px;
}

.main-content {
  padding: 20px;
  padding-left:80px;
  position: relative;
  background-color:#ddd;
  background-image: 
    linear-gradient(to right, rgba(102, 126, 234, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(102, 126, 234, 0.15) 1px, transparent 1px);
  background-size: 100px 100px; /* 기본값, 인라인 스타일로 동적 설정됨 */
  background-position: 0 0;
  height: 100vh;
}

